.contenedor-publicaciones{
    margin-top: 30px;
}

.imgPublicacion{
    max-width:100%;
}

.publicacion{
    margin-bottom: 1em;
    padding: 1em;
}
.publicacion img{
    border:1px solid #b2b2b2;
    max-width: 100%;
}

.publicacion a{
    text-decoration: none;
}

@media screen and (min-width:47em){
    .publicaciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .publicacion{
        padding: 0;
        width: calc(50% - 1em);
    }
}
@media screen and (min-width:60em){
    .publicacion{
        width: calc(33% - 1em);
    }
}
@media screen and (min-width:70em){
    .publicacion{
        width: calc(33% - 1em);
    }
}