.imgPublicacion{
    max-width:100%;
}

.publicacion{
    border:1px solid #b2b2b2;
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.publicacion img{
    max-width: 100%;
}

@media screen and (min-width:47em){
    .publicaciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .publicacion{
        width: calc(50% - 1em);
    }
}
@media screen and (min-width:60em){
    .publicacion{
        width: calc(33% - 1em);
    }
}
@media screen and (min-width:70em){
    .publicacion{
        width: calc(33% - 1em);
    }
}