
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-16 w3-margin-top">
    <p>© 1900-2020 Info Nete S.A.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>


<script type="text/javascript" src="./js/javascript.js"></script>
</body>
</html>