<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/Infonete-MVC/app/" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="view/css/style.css">
<link rel="stylesheet" href="view/css/publicaciones.css">
<link rel="stylesheet" href="view/css/menu.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<!-- Menu  -->
<header class="w3-bar w3-theme">

    <!-- Top Menu  -->
    <ul class="topheader">
        <li class="top"><a>14 de Julio de 2020</a></li>
        <li  class="top"><a href="#">13.5° Capital Federal</a></li>
{{#botones}}
        <a href="./{{link}}" class="w3-button w3-white w3-hover-blue" style="float: right">{{palabra}} </a>
{{/botones}}
    </ul>


    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-animate-left" style="display:none;z-index:5; margin: -63px 0px 0px" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Cerrar &times;</button>
        {{#menu}}
            <a href="./seccion/{{descripcion}}"
               class="w3-bar-item w3-button w3-hover-blue">{{descripcion}}</a>
        {{/menu}}
    </div>

    <!-- Page Content -->
    <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

    <div class="w3-hide-large">
        <button class="w3-button w3-white w3-left-align"  onclick="w3_open()">
            <span class="w3-small"></span> &#9776;</button>
        <div class="w3-container">


    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }
    </script>
        </div>
    </div>

    <!-- Logo   -->
    <h1 class="tituloheader w3-center">
        <a href="index" class="formatolink">
            <b>
                <img class="logo" src="view/img/logo.png" alt="INFONETE"></img>
            </b>
        </a>
      </h1>

    <article class="menu w3-hide-small w3-hide-medium ">
        {{#menu}}
                <a href="./seccion/{{descripcion}}" class="w3-button w3-border-bottom w3-border-green w3-hover-blue">{{descripcion}}</a>
        {{/menu}}
    </article>

</header>

