<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/Infonete-MVC/app/" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"><link rel="stylesheet" href="view/css/style.css">

</head>


<!-- Menu  -->
<header>
    <!-- Top Menu  -->
    <ul class="topheader">
        <li><a>Aca ponemos la fecha</a></li>
        <li><a href="#">Temperatura </a></li>
        <li style="float:right"><a href="login">Login</a></li>
         <li style="float:right"><a href="registrar">Registrarse</a></li>

    </ul>

    <!-- Titulo   -->
    <h1 class="tituloheader w3-center"><a href="index" class="formatolink"><b>InfoNete s.a.</b></a></h1>

<div class="topnav" id="myTopnav">
    <a href="javascript:void(0);" class="icon w3-button w3-white w3-border" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        <a href="#" class="w3-button w3-white w3-border active">Coronavirus</a>
        <a href="#" class="w3-button w3-white w3-border">Policiales</a>
        <a href="#" class="w3-button w3-white w3-border">Politica</a>
        <a href="#" class="w3-button w3-white w3-border">Mundo</a>
        <a href="#" class="w3-button w3-white w3-border">Sociedad</a>
        <a href="#" class="w3-button w3-white w3-border">Ciencia</a>

    </a>
</div>

</header>
